## Population 
A complete collection of the objects or measurements is called the population or else everything in the group we want to learn about will be termed as population

### Example
`Population of Numbers `

In [7]:
import random
import numpy as np
import pandas as pd

### List of 1000 numbers

In [2]:
list_1 = []
for i in range(1000):
    list_1.append(random.randint(0,1001))
print(len(list_1))

1000

## Taking random samples from list_1
* Using ` sample ` function

In [3]:
res = random.sample(range(0,1001), 50)
# 50 here specifies the number of samples to be taken from list
print("Random numbers from list is: " + str(res))

Random numbers from list is: [296, 737, 589, 783, 730, 745, 82, 552, 356, 637, 355, 851, 294, 416, 473, 477, 175, 804, 985, 167, 537, 93, 602, 859, 427, 561, 225, 458, 182, 435, 279, 555, 277, 861, 722, 931, 170, 935, 399, 635, 126, 87, 527, 810, 965, 269, 819, 147, 686, 278]

In [4]:
import random
  
  
# Prints list of random items of
# length 3 from the given list.
list1 = [1, 2, 3, 4, 5, 6] 
print("With list:", random.sample(list1, 3))
  
# Prints list of random items of
# length 4 from the given string. 
string = "GeeksforGeeks"
print("With string:", random.sample(string, 4))
  
# Prints list of random items of
# length 4 from the given tuple.
tuple1 = ("ankit", "geeks", "computer", "science",
                   "portal", "scientist", "btech")
print("With tuple:", random.sample(tuple1, 4))
  
  
# Prints list of random items of
# length 3 from the given set.
set1 = {"a", "b", "c", "d", "e"}
print("With set:", random.sample(set1, 3))

With list: [2, 5, 6]
With string: ['e', 'e', 'k', 'G']
With tuple: ['science', 'ankit', 'scientist', 'computer']
With set: ['a', 'e', 'd']

### Systematic Sampling

In [15]:

# Define total number of students
number_of_students = 15

# Create data dictionary
data = {'Id': np.arange(1, number_of_students+1).tolist(),
        'height': [159, 171, 158, 162, 162, 177, 160, 175,68, 171, 178, 178, 173, 177, 164]}

# Transform dictionary into a data frame
df = pd.DataFrame(data)

display(df)

# Define systematic sampling function
def systematic_sampling(df, step):

    indexes = np.arange(0, len(df), step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample


# Obtain a systematic sample and save it in a new variable
systematic_sample = systematic_sampling(df, 3)

    Id  height
0    1     159
1    2     171
2    3     158
3    4     162
4    5     162
5    6     177
6    7     160
7    8     175
8    9      68
9   10     171
10  11     178
11  12     178
12  13     173
13  14     177
14  15     164

In [17]:
# View sampled data frame
display(systematic_sample)

    Id  height
0    1     159
3    4     162
6    7     160
9   10     171
12  13     173

### Stratified Sampling

In [13]:
# Create a dictionary of students
students = {
    'Name': ['Lisa', 'Kate', 'Ben', 'Kim', 'Josh',
             'Alex', 'Evan', 'Greg', 'Sam', 'Ella'],
    'ID': ['001', '002', '003', '004', '005', '006', 
           '007', '008', '009', '010'],
    'Grade': ['A', 'A', 'C', 'B', 'B', 'B', 'C', 
              'A', 'A', 'A'],
    
    'Category': [2, 3, 1, 3, 2, 3, 3, 1, 2, 1]
}
  
# Create dataframe from students dictionary
df = pd.DataFrame(students)
  
# view the dataframe
df

   Name   ID Grade  Category
0  Lisa  001     A         2
1  Kate  002     A         3
2   Ben  003     C         1
3   Kim  004     B         3
4  Josh  005     B         2
5  Alex  006     B         3
6  Evan  007     C         3
7  Greg  008     A         1
8   Sam  009     A         2
9  Ella  010     A         1

In [14]:
#Stratified sampling
df.groupby('Grade', group_keys=False).apply(lambda x: x.sample(2))

   Name   ID Grade  Category
1  Kate  002     A         3
0  Lisa  001     A         2
5  Alex  006     B         3
4  Josh  005     B         2
6  Evan  007     C         3
2   Ben  003     C         1

### Cluster Sampling

In [18]:


#creating dictionary of data
dic_data = {'employee_id':np.arange(1,21),'value':np.random.randn(20)}

# creating DataFrame from dictonary
df = pd.DataFrame(dic_data)
print(df)

    employee_id     value
0             1 -0.092777
1             2  1.203881
2             3  0.913312
3             4 -2.916899
4             5 -0.296683
5             6 -0.708969
6             7  1.076313
7             8 -1.174670
8             9 -0.287056
9            10 -0.497792
10           11 -1.276466
11           12 -1.387918
12           13 -0.346647
13           14 -0.770068
14           15 -0.929103
15           16 -1.455652
16           17  1.378517
17           18 -2.527708
18           19  0.528548
19           20  0.633615

In [19]:
#Using cluster sampling
samples = df.sample(4).sort_values(by='employee_id')
  
# show samples
print(samples)

    employee_id     value
0             1 -0.092777
3             4 -2.916899
8             9 -0.287056
14           15 -0.929103